* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #e5e5e5;
}

main {
  max-width: 37.5rem;
  margin: 0 auto;
  background-color: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
}

.logo-placeholder {
  height: 100%;
  width: 20%;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.normal-button {
  border: none;
}
