* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #e5e5e5;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 39.5rem;
  margin: 0 auto;
  background-color: whitesmoke;
  gap: 11.4rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 8.8rem;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2.4rem;
}

.logo-placeholder {
  height: 100%;
  width: 20%;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.normal-button {
  border: none;
}

.head-section {
  display: flex;
  flex-direction: column;
  background-image: url("header_shapes.png");
  background-color: #fff;
  background-repeat: no-repeat;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.4rem;
  padding-bottom: 13.6rem;
  border-bottom-left-radius: 7rem;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
  margin-top: 7.4rem;
}

.primary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.social-list {
  display: flex;
  gap: 1.5rem;
}

.social-list li {
  list-style: none;
}

.project1-h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
}

.card-li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 10.8rem;
  gap: 0.8rem;
}

.card-li li {
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.6rem;
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  gap: 2rem;
}

.card-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
}

.dot {
  border-radius: 100%;
  width: 0.8px;
  height: 0.8px;
  background: #c1c7d0;
}

.canopy {
  color: #344563;
}

.card-btn {
  width: 12.4rem;
  height: 4.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  background: #fff;
}

.btn-getMyResume {
  width: 16.5rm;
  height: 4.8rem;
  padding: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.about-mySelf {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 2.4rem;
  border-radius: top;
  gap: 1.2rem;
}

.about-mySelf-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  gap: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.about-mySelf-ul li {
  display: flex;
  align-items: center;
  height: 6.7rem;
  background: #f7f7f9;
  border-radius: 0.8rem;
  gap: 1.6rem;
}

.about-mySelf-ul li > * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #253858;
  padding-left: 1.2rem;
}

.about-myself-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  padding-left: 1.2rem;
  padding-right: 4rem;
}

.about-mySelf span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background-image: url(contact-form-mobile-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 8rem;
  text-align: center;
  padding: 0 2.4rem;
  padding-bottom: 0.8rem;
}

.contact-me h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  color: #ffffff;
  margin-top: 10rem;
}
.contact-me p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
}

.contact-me input {
  height: 4.8rem;
  border: 1px solid #cfd8dc;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #172b4d;
  padding-left: 1.6rem;
}

.contact-me textarea {
  height: 17rem;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b3bac5;
}

.contact-me-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 4rem;
}

.btn {
  margin: 1rem 0;
  background: #fff;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
}

.btn:active {
  color: #fff;
  background: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.lets-connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #7f8cff;
}

.bottom-line {
  width: 13.4rem;
  height: 0.5rem;
  align-self: center;
}
