* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 37.5rem;
  margin: 0 auto;
  background-color: whitesmoke;
  gap: 11.4rem;
}

main > * {
  flex: 1 1 auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 8.8rem;
  margin: 0 2.4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2.4rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.logo-placeholder {
  height: 100%;
  width: 20%;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.normal-button {
  border: none;
}

.nav-ul {
  display: none;
}

.head-section {
  display: flex;
  flex-direction: column;
  background-image: url("header_shapes.png");
  background-color: #fff;
  background-repeat: no-repeat;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.4rem;
  padding-bottom: 13.6rem;
  border-bottom-left-radius: 7rem;
}

.main-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
  margin-top: 7.4rem;
}

.primary-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.social-list {
  display: flex;
  gap: 1.5rem;
}

.social-list li {
  list-style: none;
}

.project1-h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.6rem;
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  gap: 2rem;
}

.card-li li {
  float: left;
  padding: 0.4rem 1.2rem;
  margin: 0.5rem;
  background: #ebebff;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
}

.card-div {
  display: flex;
  flex-direction: column;
  margin-right: 7.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
  gap: 1.2rem;
}

.card-img-div {
  width: 100%;
  height: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card3-img-2 {
  display: none;
}

.card-sw {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.dot {
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
  background: #c1c7d0;
}

.canopy {
  color: #344563;
}

.card-btn {
  width: 12.4rem;
  height: 4.8rem;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
}

.btn-getMyResume,
.btn-getInTouch {
  width: 16.5rem;
  height: 4.8rem;
  padding: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.about-mySelf {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 2.4rem;
  border-top-right-radius: 7rem;
  gap: 1.2rem;
}

.about-myself-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  padding-right: 4rem;
}

.about-myself-div span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000;
}

.web-skills {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.web-skills div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.web-skills span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background-image: url(contact-form-mobile-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 8rem;
  text-align: center;
  padding: 0 2.4rem;
  padding-bottom: 0.8rem;
}

.contact-me h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  color: #fff;
  margin-top: 10rem;
}

.contact-me p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
}

.contact-me input {
  height: 4.8rem;
  border: 1px solid #cfd8dc;
  border-radius: 0.8rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #172b4d;
  padding-left: 1.6rem;
}

.contact-me textarea {
  height: 17rem;
  border-radius: 0.8rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b3bac5;
}

.contact-me-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 4rem;
}

.btn {
  margin: 1rem 0;
  background: #fff;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
}

.btn:active {
  color: #fff;
  background: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

.lets-connect {
  font-weight: 500;
  font-size: 1.6rem;
  color: #7f8cff;
}

.bottom-line {
  width: 13.4rem;
  height: 0.5rem;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .head-section {
    flex-direction: column;
    background-image: url("desktop-header_bg.png");
    justify-content: center;
    gap: 1.5rem;
    padding: 18rem 26rem 26rem 26rem;
    border-bottom-left-radius: 7rem;
  }

  header {
    margin-top: 0;
    padding: 0 15.5rem;
  }

  .normal-button {
    display: none;
  }

  .nav-ul {
    display: flex;
    gap: 3.2rem;
  }

  .nav-ul li {
    display: flex;
  }

  .nav-ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding: 1rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .card {
    flex-direction: row;
    padding: 2.4rem;
    margin: 0 1.4rem;
  }

  .card > * {
    flex: 1;
  }

  .card-div {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .card4 {
    flex-direction: row-reverse;
    order: 3;
  }

  .card3 {
    order: 2;
  }

  .card1 {
    order: 4;
  }

  .card2 {
    order: 5;
  }

  .card2 {
    flex-direction: row-reverse;
  }

  .card3-img-2 {
    display: initial;
  }

  .card3-img-1 {
    display: none;
  }

  .about-mySelf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16.6rem 14.4rem;
    gap: 5rem;
    order: 6;
  }

  .about-myself-first-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
  }

  .about-myself-second-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
  }

  .about-mySelf-div {
    display: flex;
    flex-direction: row;
  }

  .about-mySelf h1 {
    margin-top: 0;
  }
}
