* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #e5e5e5;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 39.5rem;
  margin: 0 auto;
  background-color: whitesmoke;
  gap: 11.4rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  gap: 8.8rem;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2.4rem;
}

.logo-placeholder {
  height: 100%;
  width: 20%;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.normal-button {
  border: none;
}

.head-section {
  display: flex;
  flex-direction: column;
  background-image: url("header_shapes.png");
  background-color: #fff;
  background-repeat: no-repeat;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.4rem;
  padding-bottom: 13.6rem;
  border-bottom-left-radius: 7rem;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #172b4d;
  margin-top: 7.4rem;
}

.primary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.social-list {
  display: flex;
  gap: 1.5rem;
}

.social-list li {
  list-style: none;
}
